<%-include('../partials/header.html')%>
<%-include('partials/navigation.html')%>  
    <main>
        <!-- Room Start -->
        <section class="activity-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-lg-12 col-sm-12 col-12">
                        <!--font-back-tittle  -->
                        <div class="font-back-tittle mb-45">
                            <div class="archivment-front">
                                <h3>Daily Activities</h3>
                            </div>
                            <h3 class="archivment-back">Daily Activities</h3>
                        </div>
                    </div>

                    <% if(events.length) { %>
                    <% for(i=0;i < events.length;i++){  %>


                    <div class="col-xl-4 col-lg-4 col-md-12 col-12">
                        <!-- Single Room -->
                        <form action="/booking" method="POST">
                            <input type="text" name="name" value="<%=events[i].name%>" hidden>
                            <input type="text" name="type" value="<%=events[i].type%>" hidden>
                            <input type="text" name="cost" value="<%=events[i].cost%>" hidden>

                            <div class="single-room mb-50">
                                <div class="room-img p-2">        
                                        <a href="#"><img src="<%=events[i].img%>" alt="" height="200px"></a>
                                </div>
                                <div class="room-caption text-center">

                                    <h3><a href="#"><%=events[i].type%></a></h3>
                                    <h5><%=events[i].dec%></h5>
                                    <div class="per-night">
                                        <span>&#8369; <%=events[i].cost%> <span></span></span>
                                    </div>
                                    <input type="submit" class="btn btn-danger" value="Book Now">
                                </div>
                            </div>

                    </div>
                    </form>
                    <% } %>
                    <% } else {  %>
                      <br>
                <div class="col-lg-12 col-md-12 col-sm-12">
                      <h2 style="color: #ff304f;" class="text-center mt-5 mb-5">No Room Available Right Now</h2>
                </div>
                    <br>
                    <%  }  %>

                </div>
            </div>

        </section>
        <!-- Room End -->
    </main>

<%-include('../partials/footer.html')%>
<%-include('partials/footer.html')%>